@mixin d-flex(
	$justify-content: center,
	$align-items: center,
	$flex-wrap: nowrap,
	$flex-direction: row,
	$column-gap: 0,
	$row-gap: 0
) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-wrap: $flex-wrap;
	flex-direction: $flex-direction;
	column-gap: $column-gap;
	row-gap: $row-gap;
}
