$bg-color: #678ff2;
$color-white: #fff;
$color-black: #000;

$container-max-width: 1440px;

$media-xxl: 1440px;
$media-xl: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;
$media-min: 428px;
